*{
  padding:0;
  margin:0;
}
h1{
  text-align:end;
}
.App{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.input-container{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  
}
p{
  color:white;
  /* font-weight: bold;
  font-size:10px; */
}
.card-container{
  display:flex;
  flex-direction:column;
  /* border: 1px solid black; */
  border-radius: 10px;
  width:30vw;
  height:80vh;
  background:#124164;
}
.card-container > * {
margin:10px;
}

.thru-image{
  display:flex;
  justify-content:flex-end;
  border: 1px solid black;
  width:120px;
  align-self: flex-end;
  
}
.thru-image img{
  width:200px;
  height:80px;
}
.card-container img{
  width:80px;
}